/*

list-style-type: none|disc|circle|square|upper-roman|lower-alpha|upper-alpha|unset
list-style-position: outside|inside
list-style-image: url(path)

Remove Default Settings
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

(Shorthand property)
list-style: type position image

*/